* {
  padding: 0;
  margin: 0;
}
.gmat-profile-sec-2 {
  padding: 2rem 3rem;
  background: linear-gradient(
    180deg,
    rgba(253, 244, 204, 0) 0%,
    #fcd8b8 129.28%
  );
}
.gmat-profile-sec-2 .heading p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 2.6rem;
  line-height: 4rem;
  text-align: center;
  text-transform: capitalize;
  color: #3e3e4c;
}
.gmat-profile-sec-2 .heading span {
  color: #716cc7;
  font-weight: 600;
}
.gmat-profile-sec-2 .sec-2-cols {
  display: flex;
  justify-content: center;
  align-items: center;
}
.gmat-profile-sec-2 .sec-2-cols .img-cont-1 {
  padding: 0.2rem 0;
}
.gmat-profile-sec-2 .sec-2-cols .img-cont-1 p {
  margin-left: 12rem;
  margin-right: 4.5rem;
}
.gmat-profile-sec-2 .sec-2-cols .img-cont-2 p {
  margin-left: 4.8rem;
  margin-right: 12.3rem;
}
.gmat-profile-sec-2 .sec-2-cols p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.4rem;
  text-align: center;
  text-transform: capitalize;
  color: #000000;
  background-color: #ffd2a9;
  padding: 1rem;
}
.gmat-profile-sec-2 .sec-2-cols .img-cont-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.gmat-profile-sec-2 .sec-2-cols img {
  width: 75%;
  margin: auto;
}
/* Section - 3 */
.gmat-profile-sec-3 {
  margin: 2rem 0;
  margin-right: 3rem;
}
.gmat-profile-sec-3 .sec-3-cols-1 {
  display: flex;
  align-items: center;
}
.gmat-profile-sec-3 .sec-3-cols-2 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.gmat-profile-sec-3 .sec-3-cols-1 .krithika-mam-col {
  width: 50%;
}
.gmat-profile-sec-3 .sec-3-cols-1 .content-col {
  width: 50%;
}
.gmat-profile-sec-3 .sec-3-cols-2 .content-arrow {
  width: 50%;
}
.gmat-profile-sec-3 .sec-3-cols-2 .img-cont-col {
  width: 50%;
}
.gmat-profile-sec-3 .sec-3-cols-1 img {
  width: 90%;
}
.gmat-profile-sec-3 .sec-3-cols-1 .content-col .head-sub-headings span {
  color: #716cc7;
}
.gmat-profile-sec-3 .sec-3-cols-1 .content-col .head-sub-headings h3 {
  font-family: "poppins";
  font-weight: 600;
  font-size: 3rem;
  line-height: 3.5rem;
  text-align: right;
  text-transform: capitalize;
  color: #3e3e4c;
}
.gmat-profile-sec-3 .sec-3-cols-1 .content-col .head-sub-headings h4 {
  font-family: "poppins";
  font-weight: 400;
  font-size: 2rem;
  line-height: 3.5rem;
  text-align: right;
  text-transform: capitalize;
  color: #3e3e4c;
  margin-top: 2rem;
}
.gmat-profile-sec-3 .sec-3-cols-2 .content-arrow .cont-col {
  background-color: #6360af;
  width: 72%;
}
.gmat-profile-sec-3 .sec-3-cols-2 .content-arrow .cont-col p {
  font-family: "poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2.3rem;
  text-align: left;
  text-transform: capitalize;
  color: #ffffff;
  padding: 1rem 3.5rem;
}
.gmat-profile-sec-3 .sec-3-cols-2 {
  margin-top: 2rem;
}
.gmat-profile-sec-3 .sec-3-cols-2 .content-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
}
.gmat-profile-sec-3 .sec-3-cols-2 .content-arrow .arrow-col {
  border-top: 52px solid transparent;
  border-bottom: 52px solid transparent;
  border-left: 45px solid #6360af;
  margin-left: 2px;
  width: 12%;
}
.gmat-profile-sec-3 .sec-3-cols-2 .img-cont-col {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.gmat-profile-sec-3 .sec-3-cols-2 .img-cont-col .cont-cols {
  background: #6360af;
  width: 32%;
}
.gmat-profile-sec-3 .sec-3-cols-2 .img-cont-col .cont-cols .img-col {
  display: flex;
  justify-content: center;
}
.gmat-profile-sec-3 .sec-3-cols-2 .img-cont-col .cont-cols img {
  width: 30%;
  margin-top: -2rem;
}
.gmat-profile-sec-3 .sec-3-cols-2 .img-cont-col .cont-cols h5 {
  font-family: "poppins";
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.3rem;
  text-align: center;
  text-transform: capitalize;
  color: #ffffff;
  padding: 1rem 1.4rem;
}
.gmat-profile-sec-3 .btn-col {
  display: none;
}
/* section - 6 */
.gmat-profile-sec-6 .heading-col p {
  font-family: "poppins";
  font-weight: 500;
  font-size: 2.5rem;
  line-height: 2.5;
  text-align: center;
  text-transform: capitalize;
  color: #3e3e4c;
}
.gmat-profile-sec-6 .heading-col span {
  color: #6260aa;
  font-weight: 800;
}
.gmat-profile-sec-6 .sec-6-cols {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 3rem;
}
.gmat-profile-sec-6 .sec-6-cols .cont-col {
  background: linear-gradient(0deg, #38376b, #38376b);
  backdrop-filter: blur(7.80587px);
  border-radius: 18px;
  padding: 2rem 1rem;
  margin: 1rem 3rem;
  width: 35%;
}
.gmat-profile-sec-6 .sec-6-cols .cont-col .img-name-col {
  display: flex;
  align-items: center;
}
.gmat-profile-sec-6 .sec-6-cols .cont-col .img-name-col .img-col {
  display: flex;
  justify-content: center;
}
.gmat-profile-sec-6 .sec-6-cols .cont-col .img-name-col .img-col img {
  width: 60%;
}
.gmat-profile-sec-6 .sec-6-cols .cont-col .img-name-col .name-col h4 {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 2.5rem;
  color: #ff8b22;
}
.gmat-profile-sec-6 .sec-6-cols .cont-col .img-name-col .name-col h5 {
  font-family: "poppins";
  font-weight: 600;
  font-size: 1rem;
  line-height: 2.5rem;
  color: #d1d1d1;
}
.gmat-profile-sec-6 .sec-6-cols .cont-col p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 2.4rem;
  text-align: center;
  color: #f2f2f2;
  padding: 1rem 1.2rem;
}
.gmat-profile-sec-6 .sec-6-cols .cont-col:nth-child(2) p {
  padding: 1rem 2.6rem;
}
.gmat-profile-sec-6 .sec-6-cols .cont-col .google-img {
  display: flex;
  justify-content: center;
}
.gmat-profile-sec-6 .sec-6-cols .cont-col .google-img img {
  width: 50%;
}

/* Section - 7 */
.gmat-profile-sec-7 {
  padding: 2rem 6rem;
}
.gmat-profile-sec-7 .gmat-sec-7-container {
  background-color: #efeefb;
  padding: 2.5rem;
}
.gmat-profile-sec-7 .gmat-sec-7-container .gmat-sec-7-cols {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.gmat-profile-sec-7 .gmat-sec-7-container .gmat-sec-7-cols img {
  width: 18%;
}
.gmat-profile-sec-7 .gmat-sec-7-container .heading-col {
  padding: 1rem;
  padding-top: 2rem;
}
.gmat-profile-sec-7 .gmat-sec-7-container .heading-col p {
  font-family: "poppins";
  font-weight: 500;
  font-size: 3rem;
  line-height: 4rem;
  text-align: center;
  text-transform: capitalize;
  color: #3e3e4c;
}
.gmat-profile-sec-7 .gmat-sec-7-container .heading-col span {
  color: #6260aa;
  font-weight: 700;
}

/* Carousel Dots hide */
.gmat-profile-mba-dot {
  text-align: center;
}

@media (min-width: 767px) {
  .gmat-profile-mba-dot {
    display: none;
  }
  .gmat-slide-1st-mobile-carousel {
    display: flex !important;
  }
}
/* Carousel */
.gmat-1-dot {
  background-color: #bcbfef;
  width: 13px;
  height: 13px;
  margin: 1.5em 5px;
  display: inline-block;
  border-radius: 50%;
  cursor: pointer;
}
.gmat-profile-active {
  background-color: #04094d !important;
}

/* ************-------------Tab View------------***************** */

@media (min-width: 767px) and (max-width: 1024px) {
  /* section - 2 */
  .gmat-profile-sec-2 {
    padding: 2rem;
  }
  .gmat-profile-sec-2 .heading p {
    font-size: 2rem;
    line-height: 3rem;
  }
  .gmat-profile-sec-2 .sec-2-cols img {
    width: 80%;
  }
  .gmat-profile-sec-2 .sec-2-cols .img-cont-1 p {
    margin-left: 6.8rem;
    margin-right: 2rem;
  }
  .gmat-profile-sec-2 .sec-2-cols p {
    font-size: 0.8rem;
    line-height: 1.4rem;
    padding: 0.5rem;
  }
  .gmat-profile-sec-2 .sec-2-cols .img-cont-2 p {
    margin-left: 2rem;
    margin-right: 7rem;
  }
  /* Section -3  */
  .gmat-profile-sec-3 {
    margin-right: 1rem;
  }
  .gmat-profile-sec-3 .sec-3-cols-1 img {
    width: 100%;
  }
  .gmat-profile-sec-3 .sec-3-cols-1 .content-col .head-sub-headings h3 {
    font-size: 1.6rem;
    line-height: 2.5rem;
  }
  .gmat-profile-sec-3 .sec-3-cols-1 .content-col .head-sub-headings h4 {
    font-size: 1.1rem;
    line-height: 2.5rem;
    margin-top: 1rem;
  }
  .gmat-profile-sec-3 .sec-3-cols-2 .content-arrow .cont-col p {
    font-size: 1.2rem;
    line-height: 2rem;
    text-align: center;
    padding: 1rem;
  }
  .gmat-profile-sec-3 .sec-3-cols-2 .content-arrow .arrow-col {
    border-top: 62px solid transparent;
    border-bottom: 62px solid transparent;
    border-left: 45px solid #6360af;
  }
  .gmat-profile-sec-3 .sec-3-cols-2 .img-cont-col .cont-cols img {
    width: 50%;
  }
  .gmat-profile-sec-3 .sec-3-cols-2 .img-cont-col .cont-cols h5 {
    font-size: 0.8rem;
    line-height: 1.3rem;
    padding: 1rem 0.5rem;
  }
  /* Section - 6 */
  .gmat-profile-sec-6 .heading-col p {
    font-size: 1.8rem;
    line-height: 2.5;
  }
  .gmat-profile-sec-6 .sec-6-cols {
    padding: 2rem 0rem;
  }
  .gmat-profile-sec-6 .sec-6-cols .cont-col {
    padding: 2rem 1rem;
    margin: 1rem;
    width: 40%;
  }
  .gmat-profile-sec-6 .sec-6-cols .cont-col .img-name-col .img-col img {
    width: 50%;
  }
  .gmat-profile-sec-6 .sec-6-cols .cont-col .img-name-col .name-col h4 {
    font-size: 1.2rem;
    line-height: 2.5rem;
  }
  .gmat-profile-sec-6 .sec-6-cols .cont-col .img-name-col .name-col h5 {
    font-size: 0.8rem;
    line-height: 2.5rem;
  }
  .gmat-profile-sec-6 .sec-6-cols .cont-col p {
    font-size: 0.8rem;
    line-height: 2.4rem;
    padding: 1rem 1.2rem;
  }
  /* Section -7 */
  .gmat-profile-sec-7 {
    padding: 2rem;
  }
  .gmat-profile-sec-7 .gmat-sec-7-container {
    padding: 2rem;
  }
  .gmat-profile-sec-7 .gmat-sec-7-container .gmat-sec-7-cols img {
    width: 20%;
  }
  .gmat-profile-sec-7 .gmat-sec-7-container .heading-col p {
    font-size: 2rem;
    line-height: 3rem;
  }
}

/* *****************------------Mobile View---------------************************ */
@media (max-width: 767px) {
  /* Carousel */
  .gmat-profile-mba-dot {
    display: block;
    margin-top: 5px;
  }
  /* section 1 */
  .gmat-profile-sec-2 {
    padding: 1rem;
  }
  .gmat-profile-sec-2 .heading p {
    font-size: 1.5rem;
    line-height: 2.4rem;
  }
  .gmat-profile-sec-2 .sec-2-cols img {
    width: 100%;
    margin: unset;
  }
  .gmat-profile-sec-2 .sec-2-cols p {
    font-size: 0.8rem;
    line-height: 1.4rem;
    padding: 0.5rem;
  }
  .gmat-profile-sec-2 .sec-2-cols .img-cont-1 p {
    margin-left: 5.6rem;
    margin-right: 0rem;
  }
  .gmat-profile-sec-2 .sec-2-cols .img-cont-2 p {
    margin-left: 0;
    margin-right: 5.6rem;
  }
  /* section - 3 */
  .gmat-profile-sec-3 {
    margin: 2rem 0;
    margin-right: 0;
  }
  .gmat-profile-sec-3 .sec-3-cols-1 {
    display: flex;
    flex-direction: column-reverse;
  }
  .gmat-profile-sec-3 .sec-3-cols-1 .krithika-mam-col {
    width: 100%;
  }
  .gmat-profile-sec-3 .sec-3-cols-1 .content-col {
    width: 100%;
  }
  .gmat-profile-sec-3 .sec-3-cols-1 img {
    width: 100%;
  }
  .gmat-profile-sec-3 .sec-3-cols-1 .content-col .head-sub-headings h3 {
    font-size: 1.5rem;
    line-height: 2rem;
    text-align: center;
  }
  .gmat-profile-sec-3 .sec-3-cols-1 .content-col .head-sub-headings h4 {
    font-size: 1rem;
    line-height: 1.5rem;
    text-align: center;
    margin-top: 1rem;
  }
  .gmat-profile-sec-3 .sec-3-cols-2 {
    margin-top: 1rem;
  }
  .gmat-profile-sec-3 .sec-3-cols-2 {
    display: block;
  }
  .gmat-profile-sec-3 .sec-3-cols-2 .content-arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .gmat-profile-sec-3 .sec-3-cols-2 .content-arrow {
    width: 100%;
  }
  .gmat-profile-sec-3 .sec-3-cols-2 .content-arrow .cont-col {
    background-color: #6360af;
    width: 90%;
  }
  .gmat-profile-sec-3 .sec-3-cols-2 .content-arrow .cont-col p {
    font-size: 1.1rem;
    line-height: 1.8rem;
    text-align: center;
    padding: 1rem 2rem;
  }
  .gmat-profile-sec-3 .sec-3-cols-2 .content-arrow .arrow-col {
    border-right: 168px solid transparent;
    border-left: 168px solid transparent;
    border-top: 36px solid #6360af;
    margin-left: 0px;
    margin-top: -1px;
    border-bottom: 0;
    width: unset;
  }
  .gmat-profile-sec-3 .sec-3-cols-2 .img-cont-col {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 3rem;
  }
  .gmat-profile-sec-3 .sec-3-cols-2 .img-cont-col {
    width: 100%;
  }
  .gmat-profile-sec-3 .sec-3-cols-2 .img-cont-col .cont-cols {
    width: 30%;
  }
  .gmat-profile-sec-3 .sec-3-cols-2 .img-cont-col .cont-cols img {
    width: 40%;
    margin-top: -1.5rem;
  }
  .gmat-profile-sec-3 .sec-3-cols-2 .img-cont-col .cont-cols h5 {
    font-size: 0.5rem;
    line-height: 1rem;
    padding: 0.5rem;
  }
  .gmat-profile-sec-3 .btn-col {
    display: flex;
    flex: auto;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    padding-top: 2rem;
  }
  .gmat-profile-sec-3 .btn-col button {
    background-color: #ff8b22;
    font-family: "poppins";
    font-weight: 700;
    font-size: 0.8rem;
    text-transform: capitalize;
    color: #000000;
    padding: 0.5rem 1rem;
    border-radius: 6px;
    border: none;
  }
  /* Section - 6 */
  .gmat-profile-sec-6 .heading-col p {
    font-size: 1.5rem;
    line-height: 2.5rem;
  }
  .gmat-profile-sec-6 .sec-6-cols {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0rem;
    margin: 1rem 1.3rem;
  }
  .gmat-profile-sec-6 .sec-6-cols .cont-col {
    padding: 2rem 0.5rem;
    margin: 1rem 0;
    width: 100%;
  }
  .gmat-profile-sec-6 .sec-6-cols .cont-col .img-name-col .img-col img {
    width: 40%;
  }
  .gmat-profile-sec-6 .sec-6-cols .cont-col .img-name-col .name-col h4 {
    font-size: 1.5rem;
  }
  .gmat-profile-sec-6 .sec-6-cols .cont-col .img-name-col .name-col h5 {
    font-size: 0.8rem;
  }
  .gmat-profile-sec-6 .sec-6-cols .cont-col p {
    font-size: 0.8rem;
    line-height: 2.4rem;
    padding: 1rem 1.2rem;
  }
  /* Section - 7 */
  .gmat-profile-sec-7 {
    padding: 1rem;
  }
  .gmat-profile-sec-7 .gmat-sec-7-container {
    padding: 1rem;
  }
  .gmat-profile-sec-7 .gmat-sec-7-container .gmat-sec-7-cols {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .gmat-profile-sec-7 .gmat-sec-7-container .gmat-sec-7-cols img {
    width: 32%;
  }
  .gmat-profile-sec-7 .gmat-sec-7-container .heading-col {
    padding-top: 1rem;
  }
  .gmat-profile-sec-7 .gmat-sec-7-container .heading-col p {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}
